@page "/"

<PageTitle>Home</PageTitle>

<h1>Hard Copper Wood - start of new site</h1>

Welcome to your new Fluent Blazor app, with community extensions.

<FluentCxResizer>
    <FluentCard>
        Hello Bill, you genius...
        Keep up the good work!
        Because, if you don't, who will?
    </FluentCard>
</FluentCxResizer>
