@page "/slides"

<PageTitle>Slides</PageTitle>

<div style="width: 100%; height: 850px">
	<FluentToolbar id="toolbar-fluent-components">
		<FluentSwitch @bind-Value=_showControls Label="Show controls" />
		@if (_loopMode is not SlideshowLoopingMode.Infinite)
		{
			<FluentSwitch @bind-Value=_showIndicators Label="Show indicators" />

			@if (_showIndicators)
			{
				<FluentSelect @bind-SelectedOption="_indicatorPosition"
							  Label="Position of the indicator"
							  Items="Enum.GetValues<SlideshowIndicatorPosition>()" />
			}
		}

		<FluentSelect @bind-SelectedOption="@_orientation"
					  Label="Orientation of the Slideshow"
					  Items="Enum.GetValues<Orientation>()" />

		<FluentSwitch @bind-Value=_autoPlay Label="Autoplay" />
		<FluentSelect @bind-SelectedOption="_loopMode"
					  Label="Looping"
					  Items="Enum.GetValues<SlideshowLoopingMode>()" />

		<FluentSwitch @bind-Value=_touchEnabled Label="Touch enabled" />

		<FluentNumberField @bind-Value=_interval Label="Autoplay interval (seconds)" />
		<FluentNumberField @bind-Value=_duration Label="Slide animation duration (miliseconds)" />

		<FluentSelect @bind-SelectedOption="_imageRatio"
					  Label="Image Ratio"
					  Items="Enum.GetValues<SlideshowImageRatio>()" />
	</FluentToolbar>


	<div style="width: 100%; height: calc(100% - 250px)">
		<FluentCxSlideshow ShowIndicators="_showIndicators"
						   ShowControls="_showControls"
						   Autoplay="_autoPlay"
						   AutoplayInterval="TimeSpan.FromSeconds(_interval)"
						   SlideDuration="TimeSpan.FromMilliseconds(_duration)"
						   LoopMode="_loopMode"
						   Orientation="_orientation"
						   IsTouchEnabled="_touchEnabled"
						   ImageAspectRatio="_imageRatio"
						   IndicatorPosition="_indicatorPosition"
						   TItem="string">
			<SlideshowItem>
				<SlideshowImage Source="wwwroot/images/Bench.jpg" />
			</SlideshowItem>

			<SlideshowItem>
				<SlideshowImage Source="wwwroot/images/DAF.png" />
			</SlideshowItem>

			<SlideshowItem>
				<SlideshowImage Source="wwwroot/images/JBtable.jpg" />
			</SlideshowItem>
		</FluentCxSlideshow>
	</div>
</div>

@code {
	private bool _showControls;
	private bool _showIndicators;
	private bool _autoPlay;
	private int _interval = 5;
	private int _duration = 300;
	private SlideshowLoopingMode _loopMode = SlideshowLoopingMode.None;
	private SlideshowIndicatorPosition _indicatorPosition = SlideshowIndicatorPosition.Bottom;
	private SlideshowImageRatio _imageRatio = SlideshowImageRatio.Auto;
	private Orientation _orientation = Orientation.Horizontal;
	private bool _touchEnabled;
}
